p
{
    color: blue
}
body
{
    background-image: url(../Photo_Descriptif_Kaze_Switch/Background_Jeux_Switch.jpeg);
}
img
{
width: 30%;
margin-right: 24px;
padding-right: 14px;
box-shadow: -12px 6px 6px black;
}
span
{
    text-align: center;
}