p
{
    color: blue
}
body
{
    background-image: url(../../../../../Menu_Principal_Top_Jeux.fr/Images_Du_Cite/switch/Background_Jeux_Switch.jpeg);
}
img
{
    margin-top: 13px;
    margin-right: -8px;
    margin-left: 26px;
    padding-right: 14px;
    width: 30%;
    box-shadow: -16px -1px 11px black;
}
span
{
    text-align: center;
}