p
{
  color: aqua;
}
label
{
  color: aqua;
}
a
{
  color: aqua;
}
form
{
  display: inline-grid;
}
body
{
  background: url(./photo/Photo_Menu_Principal_Top_Jeux_Fr.png);
}
footer
{
    text-align: center;
}