body
{
    margin-top: 73px;
    margin-right: 138px;
    margin-bottom: 7px;
    margin-left: 204px;
    text-align: center;
    background-image: url(./Background_Noir_Tete_De_Mort.jpg);
}  
p
{
    color: bisque;
} 