h1
{
    text-align: center; 
    margin-right: -6px;
    margin-left: -9px;
    background-size: 12%;
    background-position-x: -15px;
    background-position-y: -23px;
    background-repeat: repeat-x;
    color: rgb(16, 194, 37);
    box-shadow: 6px 6px 6px green;
}
body
{
    margin-top: 124px;
    margin-bottom: 24px;
}
img
{
    margin-top: 33px;
    margin-right: -207px;
    margin-bottom: 90px;
    margin-left: 469px;
    display: grid;
    width: 35px;
}
nav
{
    margin-top: -362px;
    margin-right: 479px;
    margin-bottom: 42px;
    margin-left: 518px;
    padding-bottom: 384px;
    padding-left: 50px;
    background-size: 232px;
    background-repeat: no-repeat;
    background-image: url(../../../../Menu_Principal_Top_Jeux.fr/Images_Du_Cite/xbox/Boitier_Sea_Of_Thieves.jpg);
}
p
{
    text-align: center;
    color: #037e0e;
}
footer
{
   text-align: center; 
   margin-top: 16px;
}
html
{
    background-size: 100%;
    margin-top: -19px; 
    background-repeat: no-repeat;
    background-image: url(../../../../Menu_Principal_Top_Jeux.fr/Images_Du_Cite/xbox/background_xbox.jpg);
    background-repeat: no-repeat;
}