body
{
    margin: 0;
    height: auto;
}
h1
{
    text-align: center;
    color: cyan;
}
a
{
    color: aliceblue;
}
.Lien_Boite
{
    width: 100%;
}
ul
{
margin-top: 40px;
padding: 0;
width: 100%;
height: auto;
display: flex;
justify-content: space-around;
align-items: center;
}
li
{
    DISPLAY: flex;
    justify-content: space-around;
    width: 20%;
}  
.bdg
{
    width: 163px;
}
.bth
{
    width: 163px;
}
.btl
{
    width: 163px;
}
nav
{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer
{
    height: 235px;
    display: flex;
    justify-content: space-around;
}
img.logops4
{
    DISPLAY: flex;
    justify-content: space-around;
    width: 100%;
}
img.logoswitch
{
    width: 100% ;
    DISPLAY: flex;
    justify-content: space-around;
}
img.logoxbox
{
    DISPLAY: flex;
    justify-content: space-around;
    width: 100%;
}
html
{
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(./Photo_Top_Jeux_Ps4/Background_Design_Ps4.png);
}
