h1
{
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 4px 6px 22px yellow;
    color: yellow;
}
nav
{
    margin-top: 42px;
    margin-bottom: 4px;
    margin-left: -12px;
    color: #cab523;
}
nav2
{
    margin-left: 1112px;
}
p
{
    margin-top: 30px;
    text-align: center;
    color: yellow;
}
img
{
    width: 43px;
}
body
{
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Menu_Principal_Top_Jeux.fr/Photo/astronaute.jpg);
}
.etoile
{
    margin-left: 100px;
}

nav3
{
    text-align: center;
    margin: -100px;
}
footer
{
    margin-top: 294px;
    text-align: center;
}
link
{
    color: blue;
}
a
{
    text-decoration: none;
    color: #cab523;
    margin-bottom: -16px;
}