h1
{   
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 35px;
    padding-bottom: 35px;
    color:#17d8eb;
}
label
{
    margin: 3px;
    color: aqua;
}

form
{
    text-align: center;
    margin-top: 57px;
    margin-bottom: 86px;
    margin-left: -69px;
}
input
{
    margin: 5px;
}
p
{
    text-align: center;
    color: aqua;
}
a
{
    color: skyblue;
}
footer
{
    text-align: center;
}
html
{
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 1px;
    padding-bottom: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../Photo/Photo_Menu_Principal_Top_Jeux_Fr.png);
}
/*interface écran smartphone*/
@media screen and (max-width: 1280px)
{
   
}
