h1
{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    color:#aa0202;
}
a
{
    color: aliceblue;
}
img
{
    margin-top: 47px;
    margin-left: 193px;
    margin-bottom: -99px;
    padding-bottom: 3px;
    padding-left: 3px;
    width: 12%;
}
nav
{
    margin-top: 73px;
}
html
{
    margin-top: 1px;
    margin-bottom: 0px;
    margin-left: 1px;
    padding-bottom: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../Menu_Principal_Top_Jeux.fr/Images_Du_Cite/switch/Background_Jeux_Switch.jpeg);
}
