p
{
  color: blue
}
img
{
  width: 30%;
  margin-right: 24px;
  padding-right: 14px;
  background-color: #6f4d0f;
}
body
{
  text-align: center;
  background-image: url(../../../../../Menu_Principal_Top_Jeux.fr/Images_Du_Cite/ps4/Background_Noir_Tete_De_Mort.jpg);
}
span
{
  text-align: center;
}