p
{
    color: blue
}
body
{
    background-image: url(../../../../../Menu_Principal_Top_Jeux.fr/Images_Du_Cite/ps4/Background_Noir_Tete_De_Mort.jpg);
}
img
{
margin-right: 24px;
padding-right: 14px;
width: 30%;
box-shadow: -6px 6px 6px black;
}
span
{
    text-align: center;
}