h1
{
    margin-right: -6px;
    margin-left: -9px;
    text-align: center;
    background-size: 12%;
    background-position-x: -15px;
    background-position-y: -23px;
    background-repeat: repeat-x;
    background-image: url(./Photo/Logo_PlayStation_Touche.png);
}

img
{
    margin-top: 112px;
    margin-right: 11px;
    margin-bottom: -4px;
    margin-left: 91px;
    padding-bottom: 1px;
    width: 287px;
    box-shadow: -6px -4px 6px black;
}
nav
{
    margin-right: 479px;
    margin-bottom: 42px;
    margin-left: 518px;
    padding-bottom: 293px;
    padding-left: 50px;
    background-size: 232px;
    background-repeat: no-repeat;
    background-image: url(../Album_Photo_Tlou_2/Photo/Boitier_Tlou_2.jpg);
}
p
{
    margin-top: 61px;
    text-align: center;
    color: blue;
}
body
{
    margin-top: -20px;
}
.acceuil a:hover
{
    color:cyan;
}
html
{
    margin-top: -19px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../Album_Photo_Tlou_2/Photo/backgroundnoirtetemort.jpg);
}
