p
{
    color: rgb(11, 112, 11);
}
body
{
    margin-top: 144px;
    background-size: 100%;
    text-align: center;
    background-image: url(../photo/background_xbox.jpg);
}
img
{
margin-right: 24px;
padding-right: 14px;
width: 30%;
}
span
{
    text-align: center;
}