h1
{
    text-align: center; 
    margin-right: -6px;
    margin-left: -9px;
    background-size: 12%;
    background-position-x: -15px;
    background-position-y: -23px;
    background-repeat: repeat-x;
    color: crimson;
}
header
{
    display: grid;
}
body
{
    margin-top: -5px;
}
img
{
    width: 35px;
    margin-right: -207px;
    margin-bottom: 30px;
    margin-left: 469px;
}
nav
{
    margin-top: -185px;
    margin-right: 479px;
    margin-bottom: 68px;
    margin-left: 518px;
    padding-bottom: 370px;
    padding-left: 50px;
    background-size: 232px;
    background-repeat: no-repeat;
    background-image: url(./Photo_Descriptif_Kaze_Switch/Jaquette_Kaze_Switch.jpg);
}
p
{
    text-align: center;
    color: #0a4eb3;
}
footer
{
   text-align: center; 
   margin-top: 16px;
}
html
{
    background-size: 100%;
    margin-top: -19px; 
    background-repeat: no-repeat;
    background-image: url(./Photo_Descriptif_Kaze_Switch/Background_Jeux_Switch.jpeg);   
}